@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './constants'

* 
  padding: 0
  margin: 0

body, html 
  height 100%
  font-family $primary-font
  background #333

@import './LoginForm'
@import './Chat'
@import './MessageList'
@import './Message'
@import './SendMessageForm'
@import './InfoMessage'