.btn
  border 0
  background transparent
  border 2px solid $accent-color
  height 70px
  width 30rem
  margin-top 50px
  color $secondary-text-color
  background: $accent-color
  font-size 30px
  line-height 35px

.login-form
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100vw
  height 100vh
  background $primary-background-color

  &__input
    border 0
    border-bottom 2px solid $accent-color
    width 30rem
    font-size 30px
    line-height 35px
    height 70px
    text-align center
    padding 10px
    background transparent
    color $accent-color
    &:focus
      outline none
