.message-list
  display flex
  flex-direction column
  flex 1
  overflow-y auto
  padding 10px
  background-image linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%)
  &::-webkit-scrollbar
    width 6px
  &::-webkit-scrollbar-track
    background #ddd
  &::-webkit-scrollbar-thumb
    background #bdbdbd
