.message
  display flex
  flex-direction column
  margin-bottom 10px
  max-width 450px
  min-height 2.25rem
  padding 0.5rem 1rem
  background $accent-color
  width fit-content
  box-shadow 0 0 2rem rgba(black, 0.075), 0rem 1rem 1rem -1rem rgba(black, 0.1)
  flex-shrink 0
  &:first-of-type
    margin-bottom 0

.receiver-message
  align-self flex-start
  background #333
  color: white
  border-radius 1.125rem 1.125rem 1.125rem 0

.sender-message
  align-self flex-end
  border-radius 1.125rem 1.125rem 0 1.125rem