.message
  display flex
  flex-direction column
  margin-bottom 10px
  max-width 450px
  min-height 2.25rem
  padding 0.5rem 1rem
  background $accent-color
  width fit-content
  box-shadow 0 0 2rem rgba(black, 0.075), 0rem 1rem 1rem -1rem rgba(black, 0.1)

  &:last-of-type
    margin-bottom 0

.receiver-message
  background #333
  align-self flex-start
  border-radius 1.125rem 1.125rem 1.125rem 0

.sender-message
  align-self flex-end
  border-radius 1.125rem 1.125rem 0 1.125rem
// .message 
//   box-sizing border-box
//   padding 0.5rem 1rem
//   min-height 2.25rem
//   padding 0.5rem 1rem
//   margin 1rem
//   width fit-content
//   
//   
// .receiver-message
//   align-self flex-end
//   background #FFF

// .sender-message
//   align-self flex-start
//   border-radius 1.125rem 1.125rem 0 1.125rem
//   background #333
//   color white