.send-message-form
  display flex
  padding 10px
  border-top 2px solid #ddd
  background #eee
  &__input
    flex 1
    background #ddd
  &__btn-submit
    margin-left 10px
    background $primary-background-color
    color #fff
    font-weight bold
    cursor pointer
    transition background 0.23s
    &:hover
      color black
      background white

.send-message-form *
  padding 10px
  border none
  border-radius 3px
  font-size 1em
